@import "./var";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
}
html,
body {
  height: 100%;
}

button {
  border: none;
}
.error {
  color: $color-error;
  font-weight: bold;
  font-size: $font-size-base;
  margin: 6px 0;
}

.input {
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  margin: 6px 0;
  display: flex;
  align-items: center;
  height: 36px;
  font-size: $font-size-base;
  background-color: $bg-input;
  border: 1px solid $color-border;
}

.button {
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: $font-size-large;
  font-weight: 700;
  margin: 20px 0 0;
  border: 1px solid $color-border;
  cursor: pointer;
  border: none;
  outline: none;

  &--primary {
    background-color: $color-base-secondary;
    color: white;
  }
  &--primary:hover {
    background-color: $color-button-hover;
    box-shadow: $box-shadow;
    transition: 0.5s;
  }

  &--secondary {
    background-color: $color-base-primary;
    border: 2px solid $color-button-hover;
    color: $color-button-hover;

  }
}
